.dropdown-menu {
  min-width: auto;
  color: var(--text-color);
  background-color: var(--background-color);
}

.dropdown-item {
  color: var(--text-color);
}

.dropdown-item:hover {
  color: var(--text-color-secondary);
  background-color: var(--background-color-secondary);
}

button {
  border: none;
}