.title {
  margin-left: -5px;
}

.btn {
  margin-left: 10px;
}

.card {
  background-color: transparent;
}

.form-control, .card-body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.card-header, .input-group-text, .alert-secondary {
  color: var(--text-color-secondary);
  background-color: var(--background-color-secondary);
}

.text-secondary {
  color: var(--text-color-secondary);
}

table {
  color: var(--text-color);
}

.switch-wrapper {
  display: inline-block;
  text-align: right;
  padding: 0;
  float: right;
  margin-top: -4px;
  margin-bottom: -4px;

}

.changed-settings input {
  border-color: #007bff;
  border-width: 1.5px;
}

.changed-settings label {
  color: #007bff;
  font-weight: bold;
}
