a {
  position: relative;
}

.photo-container {
  width: 180px;
  height: 180px;
}

.no-image {
  font-size: 80px;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.button {
  border: 0;
  padding: 0;
  text-align: left;
}

.btn-secondary {
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid var(--background-color-secondary);
}

.info {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--text-color-secondary);
  font-size: medium;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  width: 100%;
}

.btn-secondary:hover {
  background-color: var(--background-color-secondary);
  color: var(--text-color-secondary);
  border-color: var(--primary);
}

.directory-name {
  width: 180px;
  white-space: normal;
}

/* transforming media, based on exif orientation*/
.photo-orientation-1 {
}
.photo-orientation-2 {
transform: rotateY(180deg);
}
.photo-orientation-3 {
  transform: rotate(180deg);
}
.photo-orientation-4 {
  transform: rotate(180deg) rotateY(180deg);
}
.photo-orientation-5 {
  transform: rotate(270deg) rotateY(180deg);
}
.photo-orientation-6 {
  transform: rotate(90deg);
}
.photo-orientation-7 {
  transform: rotate(90deg) rotateY(180deg);
}
.photo-orientation-8 {
  transform: rotate(270deg);
}
