.nav-container {
  position: relative;
}

.right-side {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.photos-count {
  display: inline-block;
}

a {
  color: var(--primary);
}

.breadcrumb {
  color: var(--text-color-secondary);
  background-color: var(--background-color-secondary);
}

.breadcrumb-item::before {
      color: var(--divider-color);
}

.divider{
  margin: 5px 10px;
  border-left: 1px solid var(--divider-color);
  display: inline-block;
}

ol {
  padding-right: 150px;
}

.dropdown-menu {
  min-width: 10rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

.dropdown-item {
  color: var(--text-color);
}

.dropdown-item:hover {
  color: var(--text-color-secondary);
  background-color: var(--background-color-secondary);
}

.row {
  margin: 0;
  display: flex;
  cursor: pointer;
}

nav {
  z-index: 1;
}

.dropdown-toggle::after {
  display: none;
}


.search-type{
  margin-left: 5px;
}
