.modal {
  z-index: 9999;
}

.form-control {
  color: var(--text-color);
  background-color: var(--background-color);
}

.full-width {
  width: 100%;
}

.row {
  padding-top: 1px;
  padding-bottom: 1px;
}

button.nav-link {
  border: none;
  color: var(--light) !important;
}
